body {
  background-color: #fff;
  color:            #000;
  margin:           0px;
  font-size:        80%;
}

.centering {margin-left: auto; margin-right: auto; }

.calign {text-align: center; }
.lalign {text-align: left; }
.ralign {text-align: right; }
.talign {vertical-align: top; }
.balign {vertical-align: bottom; }

/*
 * font styles
 */
p, ul, ol {margin: 0 0 1.5em; text-align: justify;}
h1, h2, h3, h4, h5, h6 {letter-spacing: -1px;font-family: arial,verdana,sans-serif;margin: 1.2em 0 .3em;color:#000;border-bottom: 1px solid #eee;padding-bottom: .1em}
h1 {font-size: 196%;margin-top:.6em}
h2 {font-size: 136%}
h3 {font-size: 126%}
h4 {font-size: 116%}
h5 {font-size: 106%}
h6 {font-size: 96%}
.highlight {color:#E17000}
.subdued {color:#999}
.error {color:#c00;font-weight:bold}
.success {color:#390;font-weight:bold}
.caption {color:#999;font-size:11px}
.date {font: bold 82% arial;color:#bbb;display:block;letter-spacing: 1px}
small {font-size:11px}

/*
 * links
 */
a:link      { text-decoration : none ; color : #286EC3; }
a:visited   { text-decoration : none ; color : #286EC3; }
a:active    { text-decoration : none ; color : #286EC3; }
a:hover     { text-decoration : underline ; color : #286EC3; }

/*
 * Lists
 */
ul {margin: .3em 0 1.5em 0;list-style-type:none; }
ul.related {margin-top: -1em; }
ol {margin: .5em .5em 1.5em; }
ol li {margin-left: 1.4em;padding-left: 0;background: none; list-style-type: decimal; }
li {line-height: 1.4em;padding-left: 25px;background: transparant; }
li.doc {background-position: 3px -500px; }
ul.nomarker li {background:none;padding-left:0; }

/*
 * Tables
 */

table.withborder {border: 2px solid #900;border-collapse:collapse;width:100%}
table tr th {text-align:left;border: 1px solid #fff;font-size:100%;color:#000;background: #efefef; padding: 6px}
/*
 * Page Layout
 */

#wrap {
}

#header {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding: 0px;
  background: #264770;
}

#header #site-name {
  font: 265% arial;
  letter-spacing: -.05em;
  margin:0 0 0 40px;
  padding:3px 0;
  color:#ccc;
  border:none
}

#search {color:#fff;font-weight:bold;position:absolute;top:10px;right:20px;left:auto;width:21em; }
#search form {margin:0}
#search input {width:8em;margin: 0 0 -1px;height:1.2em}
#search label {padding:5px 0 0;display:inline}
#search input.submit {width:auto;font-size:81%;margin:0 0 -.15em;height:1.95em}
#search p {text-align: center; margin-bottom: 5px;}
#search a:link {color: #fff}
#search a:visited {color: #fff}

#nav, #nav ul {padding: 0;margin: 0;list-style: none}
#nav {font-weight:bold;height:2.09em;font: bold 96% arial;margin: 0 105px 0 40px}
#nav li {position:relative;background: #999;float: left;width: 10em;display:block;margin: 0;border-bottom: 3px solid #264770;border-right: 3px solid #264770;padding:0}
#nav a, #nav a:link, #nav a:visited, #nav a:hover, #nav a:active {text-decoration:none;cursor:pointer;color:#000;display: block;padding: 4px 10px 2px}
#nav a:hover {color:#000}
                    
#nav li ul {background: #f6f6f6; width:15.8em;font-size:90%;margin-top:3px;position: absolute;font-weight:normal;left: -999em}
#nav li:hover ul, #nav li.sfhover ul {left: 0;z-index:99999}
                                
#nav li li {background:none;float:none;border:none;border: 1px solid #999;border-top:1px solid #fff;border-right:none;border-left:none;padding-left:0}
#nav li li.last {border-bottom:none}
#nav li li a, #nav li li a:link, #nav li li a:visited, #nav li li a:hover {color:#000;padding: 3px 10px 2px;width:14em}
#nav li li a:hover {color:#fff;background:#c00}
                                                                                                

#content-wrap {
  margin: 10px;
}

#content {
  margin: 0 25% 0 50px;
}

#content-nosidebar {
 margin: 0 50px 0 50px; 
}
#sidebar {
  position:absolute;
  top:74px;
  right:25px;
  width:20%;
  padding-top: 1px;
  padding-bottom: 40px}

#footer {
  clear:both;
  border-top: 1px solid #E3E8EE;
  padding: 10px 0 30px;
  font-size:86%;
  color:#999
}
#footer p {margin:0; text-align: center;}
#footer a:link {color:#999}

/*
 * Pagination
 */
.pagination {background: #f2f2f2;color:#666;padding: 4px 2px 4px 7px;border: 1px solid #ddd;margin: 0 0 1.5em}
.pagination p {position:relative;text-align:right}
.pagination p a:link, .pagination p a:visited, .pagination p a:hover, .pagination p a:active {text-decoration:none;background:#fff;padding:2px 5px;border: 1px solid #ccc}
.pagination p a:hover {background:#c00;color:#fff}
.pagination p span {text-decoration:none;background:#fff;padding:2px 5px;border: 1px solid #ccc;color:#ccc}
.pagination * {margin:0}
.pagination h4 {margin-top:-1.25em;padding:0;border:none}


/*
 * Misc stuff
 */
hr {margin: 1em 0;background:#f2f2f2;height:1px;color:#f2f2f2;border:none;clear:both}
img {border:none} 
